<app-navbar></app-navbar>

<div class="inner-container">
  <h1 class="main-heading text-center">Profile</h1>

  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email Id</th>
        <th>Contact</th>
        <th>Batch</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ABCDEF</td>
        <td>abcd@gmail.com</td>
        <td>+91 1234567890</td>
        <td>2019 - 2023</td>
        <td>ECE</td>
      </tr>
    </tbody>
  </table>
</div>
