<app-navbar></app-navbar>
<div class="container">
  <div class="inner-container">
    <h1 class="main-heading text-center">View Time Table</h1>

    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="time-table-container">
          <form action="#" class="form">
            <div class="form-group">
              <label for="sel1">Branch</label>
              <select class="form-control" id="branch">
                <option>Selecte Branch</option>
                <option>Btech</option>
                <option>Degree</option>
                <option>BBA</option>
              </select>
            </div>

            <div class="form-group">
              <label for="sel1">Year</label>
              <select class="form-control" id="stream">
                <option>Select Stream</option>
                <option>Btech</option>
                <option>Degree</option>
                <option>BBA</option>
              </select>
            </div>

            <div class="form-group">
              <label for="sel1">Select Year</label>
              <select class="form-control" id="year">
                <option>Year</option>
                <option>2019-2021</option>
                <option>2019-2023</option>
              </select>
            </div>

            <div class="text-center">
              <button class="btn btn-md text-white view-btn">View</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="time-table-container-table">
    <div class="exam-info text-center">
      <p class="examp-head-name">LPU Examination Time Table</p>
      <p class="examp-head-name">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        eveniet at amet error labore tempore
      </p>
    </div>

    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Days and Duration</th>
          <th>Time</th>
          <th>Paper</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Thuesday, April 12, 2022</td>
          <td>11:00 am to 3:00 pm</td>
          <td>Object oriented Programming</td>
        </tr>

        <tr>
          <td>Thuesday, April 12, 2022</td>
          <td>11:00 am to 3:00 pm</td>
          <td>Object oriented Programming</td>
        </tr>

        <tr>
          <td>Thuesday, April 12, 2022</td>
          <td>11:00 am to 3:00 pm</td>
          <td>Object oriented Programming</td>
        </tr>

        <tr>
          <td>Thuesday, April 12, 2022</td>
          <td>11:00 am to 3:00 pm</td>
          <td>Object oriented Programming</td>
        </tr>

        <tr>
          <td>Thuesday, April 12, 2022</td>
          <td>11:00 am to 3:00 pm</td>
          <td>Object oriented Programming</td>
        </tr>
      </tbody>
    </table>

    <div class="exam-info-bottom text-center">
      <p class="exam-info-bottom-text">
        Note: Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        eveniet at amet error labore tempore
      </p>
    </div>
  </div>
</div>
